/* src/components/StatusBadge/StatusBadge.css */
.badge {
  padding: 6px 12px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.warning {
  background-color: orange;
}
